:root {
    --green: #52AF3D;
    --black: #4A474A;
    --red: #d32f2f;
    --white: #ffffff;
    --gray: gray;
    --index: calc(1vh + 1vw);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.banner-container {

}

.banner {
    width: 100%;
    height: auto;
}

.map {
    width: 100%;
    height: 245px;
}

@media (max-width: 600px) {
    .logo {
        width: 70px;
    }

    .map {
        height: 320px;
    }
}

@media (min-width: 600px) {
    .logo {
        width: 100px;
    }
}

@media (min-width: 320px) {
    .banner-container {
        margin-top: 110px;
    }
}

@media (min-width: 600px) {
    .banner-container {
        margin-top: 0;
    }
}

.banner-social-mobile{
    justify-content: start!important;
    gap: 30px;
    /*margin-top: 10px;*/
}

.pulse-button__rings {
    border: 3px solid var(--red);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}

.pulse-button__rings:nth-child(2) {
    animation-name: pulse_2;
}

.pulse-button__rings:nth-child(3) {
    animation-name: pulse_3;
}

@keyframes pulse_1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

@keyframes pulse_2 {
    from {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
}

@keyframes pulse_3 {
    from {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 0;
        transform: scale(1.7, 1.7);
    }
}
